Babel >= 0.9.6, < 2.7
pytest >= 3.3.0, < 3.8
pytest-runner < 4.3
pytest-sugar >= 0.7.0, < 0.10
pytest-benchmark < 3.2
pytest-localserver < 0.5
mock < 2.1
Sphinx < 1.8
WebTest < 2.1
WebOb >= 1.7, < 1.8 # turbogears2 2.3.12 requires WebOb<1.8.0, WebTest has WebOb>=1.2
