${h.form(url('update_users_group', id=c.user_group.users_group_id), id='edit_users_group')}
    <div class="form">
                <div class="form-group">
                    <label class="control-label" for="users_group_name">${_('Group name')}:</label>
                    <div>
                        ${h.text('users_group_name',class_='form-control')}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="user_group_description">${_('Description')}:</label>
                    <div>
                        ${h.textarea('user_group_description',class_='form-control')}
                        <span class="help-block">${_('Short, optional description for this user group.')}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="users_group_active">${_('Active')}:</label>
                    <div>
                        ${h.checkbox('users_group_active',value=True)}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">${_('Members')}:</label>
                    <div>
                        <div class="pull-left">
                            <div class="text">${_('Chosen group members')}</div>
                            ${h.select('users_group_members',[],c.group_members,multiple=True,size=8,style="width:210px",class_='form-control')}
                        </div>
                        <div class="pull-left">
                          <div class="text">&nbsp;</div>
                          <div>
                            <i id="add_element" class="icon-left-open" title="Choose selected available"></i>
                          </div>
                          <div>
                            <i id="remove_element" class="icon-right-open" title="Remove selected chosen"></i>
                          </div>
                        </div>
                        <div class="pull-left">
                            <div class="text">${_('Available members')}</div>
                            ${h.select('available_members',[],c.available_members,multiple=True,size=8,style="width:210px",class_='form-control')}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="buttons">
                        ${h.submit('Save',_('Save'),class_="btn btn-default")}
                    </div>
                </div>
    </div>
${h.end_form()}
<script type="text/javascript">
  MultiSelectWidget('users_group_members','available_members','edit_users_group');
</script>
