## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
    ${_('User Groups Administration')}
</%block>

<%def name="breadcrumbs_links()">
    <input class="q_filter_box" id="q_filter" size="15" type="text" name="filter" placeholder="${_('quick filter...')}" value=""/>
    ${h.link_to(_('Admin'),h.url('admin_home'))} &raquo; <span id="user_group_count">0</span> ${_('User Groups')}
</%def>

<%block name="header_menu">
    ${self.menu('admin')}
</%block>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
        <ul class="links">
        %if h.HasPermissionAny('hg.admin', 'hg.usergroup.create.true')():
          <li>
            <a href="${h.url('new_users_group')}" class="btn btn-small btn-success"><i class="icon-plus"></i> ${_('Add User Group')}</a>
          </li>
        %endif
        </ul>
    </div>
    <!-- end box / title -->
    <div class="table">
        <table id="datatable_list_wrap"></table>
    </div>
    <div id="user-paginator" style="padding: 0px 0px 0px 20px"></div>
</div>
<script>
    var data = ${c.data|n};
    var $dataTable = $("#datatable_list_wrap").DataTable({
        data: data.records,
        columns: [
            {data: "raw_name", visible: false, searchable: false},
            {data: "group_name", title: "${_('Name')}", orderData: 0},
            {data: "desc", title: "${_('Description')}", searchable: false},
            {data: "members", title: "${_('Members')}", searchable: false},
            {data: "active", title: "${_('Active')}", searchable: false, 'sType': 'str'},
            {data: "owner", title: "${_('Owner')}", searchable: false},
            {data: "action", title: "${_('Action')}", searchable: false, sortable: false}
        ],
        order: [[1, "asc"]],
        pageLength: 100
    });
</script>
</%def>
