<%inherit file="/base/base.html"/>

<%block name="title">
    ${_('%s Files Delete') % c.repo_name}
</%block>

<%block name="header_menu">
    ${self.menu('repositories')}
</%block>

<%def name="breadcrumbs_links()">
    ${_('Delete file')} @ ${h.show_id(c.cs)}
</%def>

<%def name="main()">
${self.repo_context_bar('files')}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            ${self.breadcrumbs()}
        </div>
        <div class="pull-right">
            <a href="#">${_('Branch')}: ${c.cs.branch}</a>
        </div>
    </div>
    <div class="panel-body" id="edit">
        <div id="files_data">
            ${h.form(h.url.current(),method='post')}
            <h3 class="files_location">
                ${_('Delete file')}: ${h.files_breadcrumbs(c.repo_name,c.cs.raw_id,c.f_path)}
            </h3>

            <div id="body" class="panel panel-default">
                <div class="panel-heading">${_('Commit Message')}</div>
                <div class="panel-body">
                    <textarea class="form-control" name="message" placeholder="${c.default_message}"></textarea>
                </div>
            </div>
            <div>
                ${h.submit('commit',_('Commit Changes'),class_="btn btn-success btn-sm")}
                ${h.reset('reset',_('Reset'),class_="btn btn-default btn-sm")}
            </div>
            ${h.end_form()}
        </div>
    </div>
</div>
</%def>
