##path search

%for cnt,sr in enumerate(c.formated_results):
    %if h.HasRepoPermissionLevel('read')(sr['repository'],'search results check'):
        <div class="panel panel-default">
            <div class="panel-heading">
                ${h.link_to(sr['repository'], h.url('summary_home', repo_name=sr['repository']))}
                &raquo;
                ${h.link_to(sr['f_path'], h.url('files_home', repo_name=sr['repository'], revision='tip', f_path=sr['f_path']))}
            </div>
        </div>
    %else:
        %if cnt == 0:
            <div class="alert alert-warning" role="alert">
                ${_('Permission denied')}
            </div>
        %endif
    %endif
%endfor
%if c.cur_query and c.formated_results:
    ${c.formated_results.pager()}
%endif
