<div id="update_notice" style="display: none">
    <div>${_('Checking for updates...')}</div>
</div>

<%
 elems = [
    (_('Kallithea version'), c.kallithea_version, ''),
    (_('Kallithea configuration file'), c.ini['__file__'], ''),
    (_('Python version'), c.py_version, ''),
    (_('Platform'), c.platform, ''),
    (_('Git version'), c.git_version, ''),
    (_('Git path'), c.ini.get('git_path'), ''),
 ]
%>
<dl class="dl-horizontal">
%for dt, dd, tt in elems:
  <dt title="${dt}">${dt}:</dt>
  <dd title="${tt}">${dd}</dd>
%endfor
</dl>

<h4>${_('Python Packages')}</h4>
<table class="table">
  <tbody>
      %for key, value in c.modules:
          <tr>
              <td>${key}</td>
              <td>${value}</td>
          </tr>
      %endfor
  </tbody>
</table>
