${h.form(url('admin_settings'), method='post')}
    <div class="form">
            <div class="form-group">
                <label class="control-label">${_('Hooks')}:</label>
                <div>
                    <div class="checkbox">
                        <label>
                            ${h.checkbox('hooks_changegroup_repo_size','True')}
                            ${_('Show repository size after push')}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            ${h.checkbox('hooks_changegroup_update','True')}
                            ${_('Update repository after push (hg update)')}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${_('Mercurial extensions')}:</label>
                <div>
                    <div class="checkbox">
                        <label>
                            ${h.checkbox('extensions_largefiles','True')}
                            ${_('Enable largefiles extension')}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            ${h.checkbox('extensions_hgsubversion','True')}
                            ${_('Enable hgsubversion extension')}
                        </label>
                    </div>
                    <span class="help-block">${_('Requires hgsubversion library to be installed. Enables cloning of remote Subversion repositories while converting them to Mercurial.')}</span>
                    ##<div class="checkbox">
                    ##    <label>
                    ##        ${h.checkbox('extensions_hggit','True')}
                    ##        ${_('Enable hg-git extension')}
                    ##    </label>
                    ##</div>
                    ##<span class="help-block">${_('Requires hg-git library to be installed. Enables cloning of remote Git repositories while converting them to Mercurial.')}</span>
                </div>
            </div>
            %if c.visual.allow_repo_location_change:
            <div class="form-group">
                <label class="control-label" for="paths_root_path">${_('Location of repositories')}:</label>
                <div>
                    <div class="input-group">
                        ${h.text('paths_root_path',size=60,readonly="readonly",class_='form-control')}
                        <span id="path_unlock" data-toggle="tooltip" class="input-group-btn"
                            title="${_('Click to unlock. You must restart Kallithea in order to make this setting take effect.')}">
                            <button type="button" class="btn btn-default btn-sm"><i id="path_unlock_icon" class="icon-lock"></i></button>
                        </span>
                    </div>
                    <span class="help-block">${_('Filesystem location where repositories are stored. After changing this value, a restart and rescan of the repository folder are both required.')}</span>
                </div>
            </div>
            %else:
            ## form still requires this but we cannot internally change it anyway
            ${h.hidden('paths_root_path',size=30,readonly="readonly")}
            %endif
            <div class="form-group">
                <div class="buttons">
                    ${h.submit('save',_('Save Settings'),class_="btn btn-default")}
                    ${h.reset('reset',_('Reset'),class_="btn btn-default")}
                </div>
           </div>
    </div>
    ${h.end_form()}

    <script type="text/javascript">
        $(document).ready(function(){
            $('#path_unlock').on('click', function(e){
                $('#path_unlock_icon').removeClass('icon-lock');
                $('#path_unlock_icon').addClass('icon-lock-open-alt');
                $('#paths_root_path').removeAttr('readonly');
            });
        });
    </script>
