## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>
<%block name="title">
    ${_('Public Journal')}
</%block>
<%block name="header_menu">
    ${self.menu('journal')}
</%block>
<%block name="head_extra">
  <link href="${h.url('public_journal_atom')}" rel="alternate" title="${_('ATOM public journal feed')}" type="application/atom+xml" />
  <link href="${h.url('public_journal_rss')}" rel="alternate" title="${_('RSS public journal feed')}" type="application/rss+xml" />
</%block>
<%def name="main()">

<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <div class="pull-left">
      ${_('Public Journal')}
    </div>
    <div class="pull-right panel-title">
        <a href="${h.url('public_journal_atom')}"><i class="icon-rss-squared"></i></a>
    </div>
  </div>

  <div id="journal" class="panel-body">
    <%include file='journal_data.html'/>
  </div>
</div>

</%def>
