## -*- coding: utf-8 -*-

% for f in c.followers_pager:
    <div>
        <div class="follower_user">
            ${h.gravatar_div(f.user.email, size=24)}
            <span style="font-size: 20px"> <b>${f.user.username}</b> (${f.user.name} ${f.user.lastname})</span>
        </div>
        <div style="clear:both;padding-top: 10px"></div>
        <div class="follower_date">${_('Started following -')}
        <span data-toggle="tooltip" title="${f.follows_from}"> ${h.age(f.follows_from)}</span></div>
        <div style="border-bottom: 1px solid #DDD;margin:10px 0px 10px 0px"></div>
    </div>
% endfor

<ul class="pagination">
    ${c.followers_pager.pager()}
</ul>
