${h.form(url('update_repo_caches', repo_name=c.repo_name))}
<div class="form">
   <div>
       ${h.submit('reset_cache_%s' % c.repo_info.repo_name,_('Invalidate Repository Cache'),class_="btn btn-default btn-sm")}
      <div class="text-muted">
        ${_('Manually invalidate cache for this repository. On first access, the repository will be cached again.')}
      </div>
      <div>
        <h5>${_('List of Cached Values')}</h5>
        <table class="table">
          <tr>
            <th>${_('Prefix')}</th>
            <th>${_('Key')}</th>
            <th>${_('Active')}</th>
          </tr>
          %for cache in c.repo_info.cache_keys:
              <tr>
                <td>${cache.get_prefix() or '-'}</td>
                <td>${cache.cache_key}</td>
                <td>${h.boolicon(cache.cache_active)}</td>
              </tr>
          %endfor
        </table>
      </div>
   </div>
</div>
${h.end_form()}
