${h.form(url('edit_repo_statistics_update', repo_name=c.repo_info.repo_name))}
<div class="form">
      <div class="form-group text-muted">
        <ul class="list-unstyled">
            <li>${_('Processed commits')}: ${c.stats_revision}/${c.repo_last_rev}</li>
            <li>${_('Processed progress')}: ${c.stats_percentage}%</li>
        </ul>
      </div>
      <div class="form-group">
        ${h.submit('reset_stats_%s' % c.repo_info.repo_name,_('Reset Statistics'),class_="btn btn-default btn-sm",onclick="return confirm('"+_('Confirm to remove current statistics.')+"');")}
      </div>
</div>
${h.end_form()}
