%if c.repo_info.clone_uri or c.repo_info.fork:
<h4>
  %if c.repo_info.fork:
    ${_('Fork of repository')}:
    <a href="${h.url('summary_home',repo_name=c.repo_info.fork.repo_name)}">${c.repo_info.fork.repo_name}</a>
  %else:
    ${_('Remote repository URL')}:
    <a href="${c.repo_info.clone_uri}">${c.repo_info.clone_uri_hidden}</a>
  %endif
</h4>
${h.form(url('edit_repo_remote_update', repo_name=c.repo_name))}
<div class="form">
    <div>
        ${h.submit('remote_pull_%s' % c.repo_info.repo_name,
            _('Pull Changes from Remote Repository'),
            class_="btn btn-default btn-sm",
            onclick="return confirm('"+_('Confirm to pull changes from remote repository.')+"');")}
    </div>
</div>
${h.end_form()}
%else:
  <h3>
    ${_('This repository does not have a remote repository URL.')}
  </h3>
%endif
