<div style="font-size: 20px; color: #666666; padding: 0px 0px 10px 0px">${_('Repositories You Own')}</div>

<div class="table">
    <table id="datatable_list_wrap"></table>
</div>

<script>
  var data = ${c.data|n};
  var myDataTable = $("#datatable_list_wrap").DataTable({
        data: data.records,
        columns: [
            {data: "menu", sortable: false, className: "quick_repo_menu hidden", searchable: false},
            {data: "raw_name", "visible": false, searchable: false},
            {data: "name", "orderData": 1, title: "${_('Name')}"},
            {data: "last_rev_raw", "visible": false, searchable: false},
            {data: "last_changeset", "orderData": 3, title: "${_('Tip')}", searchable: false},
            {data: "action", title: "${_('Action')}", sortable: false, searchable: false}
        ],
        order: [[2, "asc"]],
        pageLength: 100
    });
</script>
