${h.form(url('my_account'), method='post')}
    <div class="form">

         <div class="field">
           <div class="gravatar_box">
               <div class="gravatar">
                 ${h.gravatar(c.user.email)}
               </div>
                <p>
                %if c.visual.use_gravatar:
                <strong>${_('Change your avatar at')} <a href="http://gravatar.com">gravatar.com</a></strong>
                <br/>${_('Using')} ${c.user.email}
                %else:
                <strong>${_('Avatars are disabled')}</strong>
                <br/>${c.user.email or _('Missing email, please update your user email address.')}
                    [${_('Current IP')}: ${c.ip_addr}]
                %endif
               </p>
           </div>
         </div>

        <div class="fields">
             <div class="field">
                <div class="label">
                    <label for="username">${_('Username')}:</label>
                </div>
                <div class="input">
                  ${h.text('username',class_='medium', readonly=c.readonly('username'))}
                </div>
             </div>

             <div class="field">
                <div class="label">
                    <label for="name">${_('First Name')}:</label>
                </div>
                <div class="input">
                    ${h.text('firstname',class_="medium", readonly=c.readonly('firstname'))}
                </div>
             </div>

             <div class="field">
                <div class="label">
                    <label for="lastname">${_('Last Name')}:</label>
                </div>
                <div class="input">
                    ${h.text('lastname',class_="medium", readonly=c.readonly('lastname'))}
                </div>
             </div>

             <div class="field">
                <div class="label">
                    <label for="email">${_('Email')}:</label>
                </div>
                <div class="input">
                    ${h.text('email',class_="medium", readonly=c.readonly('email'))}
                </div>
             </div>

            <div class="buttons">
              ${h.submit('save',_('Save'),class_="btn")}
              ${h.reset('reset',_('Reset'),class_="btn")}
            </div>
        </div>
    </div>
${h.end_form()}
