<h4>${_('Change Your Account Password')}</h4>

%if c.can_change_password:

${h.form(url('my_account_password'), method='post')}
<div class="form">
    <div class="form-group">
        <label class="control-label" for="current_password">${_('Current password')}:</label>
        <div>
            ${h.password('current_password',class_='form-control')}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="new_password">${_('New password')}:</label>
        <div>
            ${h.password('new_password',class_='form-control')}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="new_password_confirmation">${_('Confirm new password')}:</label>
        <div>
            ${h.password('new_password_confirmation',class_='form-control')}
        </div>
    </div>

    <div class="form-group">
        <div class="buttons">
            ${h.submit('save',_('Save'),class_="btn btn-default")}
            ${h.reset('reset',_('Reset'),class_="btn btn-default")}
        </div>
    </div>
</div>
${h.end_form()}

%else:

${_('This account is managed with %s and the password cannot be changed here') % c.user.extern_type}

%endif
