${h.form(url('my_account'), method='post')}
    <div class="form">
            <div class="form-group">
                <label class="control-label">${_('Gravatar')}:</label>
                <div class="gravatar_box clearfix">
                    ${h.gravatar_div(c.user.email)}
                </div>
                <div>
                    %if c.visual.use_gravatar:
                        ${_('Change %s avatar at') % c.user.email} <a href="http://gravatar.com">gravatar.com</a>
                    %else:
                        ${_('Avatars are disabled')}
                    %endif
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="username">${_('Username')}:</label>
                <div>
                    ${h.text('username',class_='form-control', readonly=c.readonly('username'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="firstname">${_('First Name')}:</label>
                <div>
                    ${h.text('firstname',class_='form-control', readonly=c.readonly('firstname'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="lastname">${_('Last Name')}:</label>
                <div>
                    ${h.text('lastname',class_='form-control', readonly=c.readonly('lastname'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="email">${_('Email')}:</label>
                <div>
                    ${h.text('email',class_='form-control', readonly=c.readonly('email'))}
                </div>
            </div>

            <div class="form-group">
                <div class="buttons">
                    ${h.submit('save',_('Save'),class_="btn btn-default")}
                    ${h.reset('reset',_('Reset'),class_="btn btn-default")}
                </div>
            </div>
    </div>
${h.end_form()}
