.metatag {
  display: inline-block;
  margin-right: 1px;
  border-radius: 4px 4px 4px 4px;
  border: solid 1px #9CF;
  padding: 2px 3px 2px 3px !important;
  background-color: #DEF;
}
.metatag[data-tag="dead"] {
  background-color: #E44;
}
.metatag[data-tag="stale"] {
  background-color: #EA4;
}
.metatag[data-tag="featured"] {
  background-color: #AEA;
}
.metatag[data-tag="requires"] {
  background-color: #9CF;
}
.metatag[data-tag="recommends"] {
  background-color: #BDF;
}
.metatag[data-tag="lang"] {
  background-color: #FAF474;
}
.metatag[data-tag="license"] {
  border: solid 1px #9CF;
  background-color: #DEF;
}
.metatag[data-tag="see"] {
  border: solid 1px #CBD;
  background-color: #EDF;
}
a.metatag[data-tag="license"]:hover {
  background-color: #577632;
  color: #FFF;
  text-decoration: none;
}

#perms .perm_tag {
  position: relative;
  top: -2px;
  margin-left: 3px;
  padding: 3px 3px 1px 3px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 3px;
}
#perms .perm_tag.admin {
  background-color: #B94A48;
  color: #ffffff;
}
#perms .perm_tag.write {
  background-color: #DB7525;
  color: #ffffff;
}
#perms .perm_tag.read {
  background-color: #468847;
  color: #ffffff;
}
#perms .perm_tag.none {
  background-color: #bfbfbf;
  color: #ffffff;
}
