/* logo */
@kallithea-logo-url:                "../images/kallithea-logo.svg";
@kallithea-logo-width:              140px;
@kallithea-logo-height:             30px;
@kallithea-logo-bottom:             4px;

/* bootstrap override */
@font-family-monospace:             Lucida Console, Consolas, Monaco, Inconsolata, Liberation Mono, monospace;
