## -*- coding: utf-8 -*-
<%inherit file="base/root.html"/>

<%block name="title">
    ${_('Reset Your Password')}
</%block>

<div id="register">
    <%include file="/base/flash_msg.html"/>
    <div class="title withlogo">
        %if c.site_name:
            <h5>${_('Reset Your Password to %s') % c.site_name}</h5>
        %else:
            <h5>${_('Reset Your Password')}</h5>
        %endif
    </div>
    <div class="inner">
        ${h.form(h.url('reset_password_confirmation'), method='post')}
        <p>${_('You are about to set a new password for the email address %s.') % c.email}</p>
        <p>${_('Note that you must use the same browser session for this as the one used to request the password reset.')}</p>
        <div style="display: none;">
            ${h.hidden('email')}
            ${h.hidden('timestamp')}
        </div>
        <div class="form">
            <!-- fields -->
            <div class="fields">
                 <div class="field">
                    <div class="label">
                        <label for="token">${_('Code you received in the email')}:</label>
                    </div>
                    <div class="input">
                        ${h.text('token', class_='focus')}
                    </div>
                 </div>

                 <div class="field">
                    <div class="label">
                        <label for="password">${_('New Password')}:</label>
                    </div>
                    <div class="input">
                        ${h.password('password',class_='focus')}
                    </div>
                 </div>

                 <div class="field">
                    <div class="label">
                        <label for="password_confirm">${_('Confirm New Password')}:</label>
                    </div>
                    <div class="input">
                        ${h.password('password_confirm',class_='focus')}
                    </div>
                 </div>
                <div class="buttons">
                    <div class="nohighlight">
                      ${h.submit('send',_('Confirm'),class_="btn")}
                    </div>
                </div>
            </div>
        </div>
        ${h.end_form()}
    </div>
   </div>
