## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
    ${_('%s Forks') % c.repo_name}
</%block>

<%def name="breadcrumbs_links()">
    ${_('Forks')}
</%def>

<%block name="header_menu">
    ${self.menu('repositories')}
</%block>

<%def name="main()">
${self.repo_context_bar('showforks')}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        ${self.breadcrumbs()}
    </div>
    <div class="panel-body">
        <div id="forks">
            <%include file='forks_data.html'/>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      var $forks = $('#forks');
      $forks.on('click','.pager_link',function(e){
          asynchtml(e.target.href, $forks, function(){
              show_more_event();
              tooltip_activate();
          });
          e.preventDefault();
      });
  });
</script>
</%def>
