## -*- coding: utf-8 -*-

% if c.forks_pager:
    % for f in c.forks_pager:
        <div>
            <div class="fork_user">
                ${h.gravatar_div(f.owner.email, size=24)}
                <span>
                 <b>${f.owner.username}</b> (${f.owner.name} ${f.owner.lastname}) /
                  ${h.link_to(f.repo_name,h.url('summary_home',repo_name=f.repo_name))}
                </span>
                <div>${f.description}</div>
            </div>
            <div class="follower_date">${_('Forked')} -
                <span data-toggle="tooltip" title="${h.fmt_date(f.created_on)}"> ${h.age(f.created_on)}</span>
                <a title="${_('Compare fork with %s') % c.repo_name}"
                   href="${h.url('compare_url',repo_name=c.repo_name, org_ref_type=c.db_repo.landing_rev[0],org_ref_name=c.db_repo.landing_rev[1],other_repo=f.repo_name,other_ref_type=c.db_repo.landing_rev[0],other_ref_name=c.db_repo.landing_rev[1], merge=1)}"
                   class="btn btn-default btn-sm"><i class="icon-git-compare"></i>${_('Compare Fork')}</a>
            </div>
        </div>
    % endfor
    ${c.forks_pager.pager()}
% else:
    ${_('There are no forks yet')}
% endif
