## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
    ${_('Users Administration')}
</%block>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))} &raquo; <span id="user_count">0</span> ${_('Users')}
</%def>

<%block name="header_menu">
    ${self.menu('admin')}
</%block>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
        <ul class="links">
          <li>
            <a href="${h.url('new_user')}" class="btn btn-success btn-sm"><i class="icon-plus"></i> ${_('Add User')}</a>
          </li>
        </ul>
    </div>
    <!-- end box / title -->
    <div class="table">
        <table id="datatable_list_wrap"></table>
    </div>
</div>

<script>
    var data = ${c.data|n};
    var $dataTable = $("#datatable_list_wrap").DataTable({
        data: data.records,
        columns: [
            {data: "gravatar", sortable: false, searchable: false},
            {data: "username", title: "${_('Username')}"},
            {data: "firstname", title: "${_('First Name')}"},
            {data: "lastname", title: "${_('Last Name')}"},
            {data: "last_login_raw", visible: false, searchable: false},
            {data: "last_login", title: "${_('Last Login')}", orderData: 4, searchable: false},
            {data: "active", title: "${_('Active')}", searchable: false, 'sType': 'str'},
            {data: "admin", title: "${_('Admin')}", searchable: false, 'sType': 'str'},
            {data: "extern_type", title: "${_('Auth Type')}", searchable: false},
            {data: "action", title: "${_('Action')}", searchable: false, sortable: false}
        ],
        order: [[1, "asc"]],
        drawCallback: updateRowCountCallback($("#user_count")),
        pageLength: 100
    });
</script>

</%def>
