${h.form(url('update_user', id=c.user.user_id))}
    <div class="form">
            <div class="form-group">
                <label class="control-label">${_('Gravatar')}:</label>
                <div class="gravatar_box clearfix">
                    ${h.gravatar_div(c.user.email)}
                </div>
                <div>
                    %if c.visual.use_gravatar:
                        ${_('Change %s avatar at') % c.user.email} <a href="http://gravatar.com">gravatar.com</a>
                    %else:
                        ${_('Avatars are disabled')}
                    %endif
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="username">${_('Username')}:</label>
                <div>
                    ${h.text('username',class_='form-control', readonly=c.readonly('username'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="email">${_('Email')}:</label>
                <div>
                    ${h.text('email',class_='form-control', readonly=c.readonly('email'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="extern_type">${_('Source of Record')}:</label>
                <div>
                    ${h.text('extern_type',class_='form-control',readonly="readonly")}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="extern_name">${_('Name in Source of Record')}:</label>
                <div>
                    ${h.text('extern_name',class_='form-control',readonly="readonly")}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="new_password">${_('New password')}:</label>
                <div>
                    ${h.password('new_password',class_='form-control',readonly=c.readonly('password'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="password_confirmation">${_('New password confirmation')}:</label>
                <div>
                    ${h.password('password_confirmation',class_='form-control',readonly=c.readonly('password'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="firstname">${_('First Name')}:</label>
                <div>
                    ${h.text('firstname',class_='form-control', readonly=c.readonly('firstname'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="lastname">${_('Last Name')}:</label>
                <div>
                    ${h.text('lastname',class_='form-control', readonly=c.readonly('lastname'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="active">${_('Active')}:</label>
                <div>
                    ${h.checkbox('active',value=True, readonly=c.readonly('active'))}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="admin">${_('Admin')}:</label>
                <div>
                    ${h.checkbox('admin',value=True, readonly=c.readonly('admin'))}
                </div>
            </div>

            <div class="form-group">
                <div class="buttons">
                    ${h.submit('save',_('Save'),class_="btn btn-default")}
                    ${h.reset('reset',_('Reset'),class_="btn btn-default")}
                </div>
            </div>
    </div>
${h.end_form()}
