<h3>${_('User: %s') % c.user.username}</h3>

<dl class="dl-horizontal">
<%
 elems = [
    (_('Repositories'), len(c.user.repositories), ', '.join((x.repo_name for x in c.user.repositories))),
    (_('Source of Record'), c.user.extern_type, ''),
    (_('Created on'), h.fmt_date(c.user.created_on), ''),
    (_('Last Login'), c.user.last_login or '-', ''),
    (_('Member of User Groups'), len(c.user.group_member), ', '.join((x.users_group.users_group_name for x in c.user.group_member))),
 ]
%>
%for dt, dd, tt in elems:
  <dt>${dt}:</dt>
  <dd title="${tt}">${dd}</dd>
%endfor
</dl>

${h.form(h.url('delete_user', id=c.user.user_id))}
    <button class="btn btn-danger btn-sm" type="submit"
            onclick="return confirm('${_('Confirm to delete this user: %s') % c.user.username}');">
        <i class="icon-trashcan"></i>
        ${_('Delete this user')}
    </button>
${h.end_form()}
