## snippet for displaying default permission box
## usage:
##    <%namespace name="dpb" file="/base/default_perms_box.html"/>
##    ${dpb.default_perms_box(<url_to_form>)}


<%def name="default_perms_box(form_url)">
${h.form(form_url)}
    <div class="form">
            <div class="form-group">
                <label class="control-label" for="create_repo_perm">${_('Create repositories')}:</label>
                <div>
                    ${h.checkbox('create_repo_perm',value=True)}
                    <span class="help-block">
                        ${_('Select this option to allow repository creation for this user')}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="create_user_group_perm">${_('Create user groups')}:</label>
                <div>
                    ${h.checkbox('create_user_group_perm',value=True)}
                    <span class="help-block">
                        ${_('Select this option to allow user group creation for this user')}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="fork_repo_perm">${_('Fork repositories')}:</label>
                <div>
                    ${h.checkbox('fork_repo_perm',value=True)}
                    <span class="help-block">
                        ${_('Select this option to allow repository forking for this user')}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="buttons">
                    ${h.submit('save',_('Save'),class_="btn btn-default")}
                    ${h.reset('reset',_('Reset'),class_="btn btn-default")}
                </div>
            </div>
    </div>
${h.end_form()}
</%def>
