<%inherit file="main.html"/>\
\
<%block name="header">\
<% title = _('Mention in Comment on Changeset "%s"') % h.shorter(message, 200, firstline=True) if is_mention else _('Comment on Changeset "%s"') % h.shorter(message, 200, firstline=True) %>\
<%include file="header.html" args="title=title,link=cs_comment_url"/>\
</%block>\
\
<%include file="comment.html" args="text=body,author=cs_comment_user,status=status_change"/>\
            <p>
                ${_('Changeset on')}
                <a href="${cs_target_repo}">${cs_target_repo}</a>
                ${_('branch')}
                ${branch}:
                <br/>
                "<a href="${cs_url}">${h.shorter(message, 60, firstline=True)}</a>"
                ${_('by')}
                ${cs_author.full_name_and_username}.
            </p>
<%include file="button.html" args="url=cs_comment_url,title=_('View Comment'),padding_bottom=False"/>\
