<%inherit file="main.html"/>\
\
<%block name="header">\
<% title = _('Mention in Comment on Changeset "%s"') % h.shorter(message, 200, firstline=True) if is_mention else _('Comment on Changeset "%s"') % h.shorter(message, 200, firstline=True) %>\
<%include file="header.html" args="title=title,link=cs_comment_url"/>\
</%block>\
\
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td>
<%include file="comment.html" args="text=body,author=cs_comment_user,status=status_change"/>\
        </td>
    </tr>
    <tr>
        <td height="30px" style="height:30px"></td>
    </tr>
    <tr>
        <td>
            <div>
                ${_('Changeset on')}
                <a style="${link_text_style}"
                   href="${cs_target_repo}">${cs_target_repo}</a>
                ${_('branch')}
                <span style="${data_style}">${branch}</span>:
            </div>
            <div>
                "<a style="${link_style}"
                   href="${cs_url}">${h.shorter(message, 60, firstline=True)}</a>"
                ${_('by')}
                <span style="${data_style}">${cs_author.full_name_and_username}</span>.
            </div>
        </td>
    </tr>
    <tr>
        <td>
<%include file="button.html" args="url=cs_comment_url,title=_('View Comment'),padding_bottom=False"/>\
        </td>
    </tr>
</table>
