<%inherit file="main.html"/>\
\
<%block name="header">\
<%include file="header.html" args="title=_('Password Reset Request'),link=None"/>\
</%block>\
\
            <h2>${_('Hello %s') % user},</h2>
            <p>
                ${_('We have received a request to reset the password for your account.')}
            </p>
            <p>

            %if reset_token is None:
                ${_('This account is however managed outside this system and the password cannot be changed here.')}
            %else:
                    ${_('To set a new password, click the following link')}:
                    <br/>
                    <a href="${reset_url}"
                        target="_blank">${reset_url}</a>
                    <br/>
                    ${_("Should you not be able to use the link above, please type the following code into the password reset form")}:
                    <code>${reset_token}</code>
            %endif
            <p>
                ${_("If it weren't you who requested the password reset, just disregard this message.")}
            </p>
