## -*- coding: utf-8 -*-
<%inherit file="main.html"/>

<h4>${_('Hello %s') % user}</h4>

<p>${_('We have received a request to reset the password for your account.')}</p>
<p>${_('To set a new password, click the following link')}:</p>
<p><a href="${reset_url}">${reset_url}</a></p>

<p>${_("Should you not be able to use the link above, please type the following code into the password reset form")}: <code>${reset_token}</code></p>

<p>${_("If it weren't you who requested the password reset, just disregard this message.")}</p>
