<%inherit file="main.html"/>\
\
<%block name="header">\
<%include file="header.html" args="title=_('Password Reset Request'),link=None"/>\
</%block>\
\
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="table-layout:fixed;word-wrap:break-word;">
    <tr>
        <td>${_('Hello %s') % user},</td>
    </tr>
    <tr>
        <td height="10px" style="height:10px"></td>
    </tr>
    <tr>
        <td>
            ${_('We have received a request to reset the password for your account.')}
        </td>
    </tr>
    <tr>
        <td height="10px" style="height:10px"></td>
    </tr>
    <tr>
        <td>
            %if reset_token is None:
                <div>${_('This account is however managed outside this system and the password cannot be changed here.')}</div>
            %else:
                <div>
                    ${_('To set a new password, click the following link')}:
                    <br/>
                    <a style="${link_style}" href="${reset_url}"
                        target="_blank">${reset_url}</a>
                    <br/>
                    ${_("Should you not be able to use the link above, please type the following code into the password reset form")}:
                    <code>${reset_token}</code>
                </div>
            %endif
        </td>
    </tr>
    <tr>
        <td height="10px" style="height:10px"></td>
    </tr>
    <tr>
        <td>
            ${_("If it weren't you who requested the password reset, just disregard this message.")}
        </td>
    </tr>
</table>
