<%inherit file="main.html"/>\
\
<%block name="header">\
<% title = _('Mention in Comment on Pull Request %s "%s"') % (pr_nice_id, pr_title) if is_mention else _('Pull Request %s "%s" Closed') % (pr_nice_id, pr_title) if closing_pr else _('Comment on Pull Request %s "%s"') % (pr_nice_id, pr_title) %>\
<%include file="header.html" args="title=title,link=pr_comment_url"/>\
</%block>\
\
<%include file="comment.html" args="text=body,author=pr_comment_user,status=status_change,close=closing_pr"/>\
            <p>
                ${_('Pull request from')}
                <a href="${pr_source_repo}">${pr_source_repo}</a>
                ${_('at')}
                ${pr_source_branch}
                ${_('to')}
                <a href="${pr_target_repo}">${pr_target_repo}</a>
                ${_('at')}
                ${pr_target_branch}:
                <br/>
                <a href="${pr_url}">${pr_nice_id}</a>
                "${pr_title}"
                ${_('by')}
                ${pr_owner.full_name_and_username}.
            </p>
<%include file="button.html" args="url=pr_comment_url,title=_('View Comment'),padding_bottom=False"/>\
