## -*- coding: utf-8 -*-
<%inherit file="main.html"/>\
\
<%block name="header">\
<%include file="header.html" args="title=_('New User Registration'),link=registered_user_url"/>\
</%block>\
\
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td>
            ${_('Username')}:
        </td>
        <td style="${data_style}">
            ${new_username}
        </td>
    </tr>
    <tr>
        <td height="10px" style="height:10px" colspan="2"></td>
    </tr>
    <tr>
        <td>
            ${_('Full Name')}:
        </td>
        <td style="${data_style}">
            ${new_full_name}
        </td>
    </tr>
    <tr>
        <td height="10px" style="height:10px" colspan="2"></td>
    </tr>
    <tr>
        <td>
            ${_('Email')}:
        </td>
        <td style="${data_style}">
            ${new_email}
        </td>
    </tr>
    <tr>
        <td colspan="2">
<%include file="button.html" args="url=registered_user_url,title=_('View User Profile'),padding_bottom=False"/>\
        </td>
    </tr>
</table>
