%if c.notifications:

<div class="list-group">
%for notification in c.notifications:
  <div id="notification_${notification.notification.notification_id}" class="list-group-item ${'' if notification.read else 'list-group-item-warning'} clearfix">
      ${h.gravatar_div(notification.notification.created_by_user.email, size=24)}
      <span class="pull-left">
        <a href="${url('notification', notification_id=notification.notification.notification_id)}">${notification.notification.description}</a>
      </span>
      <span class="pull-right">
        %if not notification.read:
          <span id="${notification.notification.notification_id}" class="btn btn-default btn-xs read-notification"><i class="icon-ok"></i>${_('Mark as read')}</span>
        %endif
        <span id="${notification.notification.notification_id}" class="btn btn-default btn-xs delete-notification"><i class="icon-minus-circled"></i>${_('Delete')}</span>
      </span>
  </div>
%endfor
</div>

<ul class="pagination">
    ${c.notifications.pager(controller='admin/notifications', **request.GET.mixed())}
</ul>

%else:
    <div>${_('No notifications here yet')}</div>
%endif
