%if c.notifications:

<div class="list-group">
%for notification in c.notifications:
  <div id="notification_${notification.notification.notification_id}" class="list-group-item ${'' if notification.read else 'list-group-item-warning'} clearfix">
      <span class="pull-left">
        ${h.gravatar_div(notification.notification.created_by_user.email, size=24)}
        <a href="${url('notification', notification_id=notification.notification.notification_id)}">${notification.notification.description}</a>
      </span>
      <span class="pull-right">
        %if not notification.read:
          <button type="button" id="${notification.notification.notification_id}" class="btn btn-default btn-xs read-notification"><i class="icon-ok"></i> ${_('Mark as read')}</button>
        %endif
        <button type="button" id="${notification.notification.notification_id}" class="btn btn-default btn-xs delete-notification"><i class="icon-trashcan"></i> ${_('Delete')}</button>
      </span>
  </div>
%endfor
</div>
${c.notifications.pager(controller='admin/notifications', **request.GET.mixed())}
%else:
    <div>${_('No notifications here yet')}</div>
%endif
